[Desktop Entry]
Name=WemeetApp
Name[zh_CN]=腾讯会议
Keywords=wemeet;tencent;meeting;
Exec=wemeetapp %u
Icon=/opt/wemeet/wemeet.svg
Type=Application
Terminal=false
Categories=AudioVideo;
MimeType=x-scheme-handler/wemeet;
